---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

//@import "custom";
@import "minimal-mistakes/skins/contrast"; // skin
@import "minimal-mistakes"; // main partials
@import "custom"; // here we can override things

